PGUSER=postgres
PGHOST=localhost
PGDATABASE=totilove
PGPASSWORD=your_db_password
PGPORT=5432
JWT_SECRET=your_jwt_secret
EMAIL_FROM=no-reply@totilove.com
RESEND_FROM_EMAIL=no-reply@totilove.com
RESEND_API_KEY=your_resend_api_key
